/* YOLO: on */

.inputValid {
  border-color: #177317;
}
.inputInvalid {
  border-color: #9b1d1d;
  background: #fde4e4;
}

.errorMessage {
  color: #9b1d1d;
  font-size: 80%;
}

.name {
  display: flex;
  padding: .3em 0;
}

.description {
  display: flex;
  padding: .3em 0;
}

.timeLimit {
  display: flex;
  padding: .3em 0;
}

.banned {
  display: flex;
  padding: .3em 0;
}

.solution {
  display: flex;
  padding: .3em 0;
}

.solutionLengthLimit {
  display: flex;
  padding: .3em 0;
}

.line {

}
.lineSelected {
  background: #8cd28c;
}

.expected {
  background: #ccc;
  padding: 1em;
}

.panels {
  display: flex;
  flex-wrap: wrap;
}
.inputs {
  flex-grow: 1;
  padding: 0 .5em;
}
.examples {
  flex-grow: 1;
  padding: 0 .5em;
}

.title {
  font-weight: bold;
  font-size: 1.1em;
}

.propName {
  font-weight: bold;
}
