/* YOLO: on */

.inputValid {
  border-color: #177317;
}
.inputInvalid {
  border-color: #9b1d1d;
  background: #fde4e4;
}

.highlight {
  background: #ddd;
  padding: 0 .3em;
  border-radius: 5px;
}

.errorMessage {
  color: #9b1d1d;
  font-size: 80%;
}

.name {
  display: flex;
  padding: .3em 0;
}

.description {
  display: flex;
  padding: .3em 0;
}

.expected {
  background: #ccc;
  padding: 1em;
}

.panels {
  display: flex;
  flex-wrap: wrap;
}
.inputs {
  flex-grow: 1;
  padding: 0 .5em;
}
.examples {
  flex-grow: 1;
  padding: 0 .5em;
}

.title {
  font-weight: bold;
}
